<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Hospital Database</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Patient Grid</h1>
        <div class="row">
            {% for patient in patients %}
                <div class="col-md-3">
                    <button class="btn patient-btn patient-button {{ patient.condition.name }}" data-patient-id="{{ patient.id }}">
                        {{ patient.name }}
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
